@keyframes hei {
    0% {height: 0;}
    100% {height: 450px;}
} 

.modalw {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 256px;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  -webkit-transition: height 400ms ease-in;
  -moz-transition: height 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  opacity: 0;
}

.containerpop{
  background-color: White;
  text-align: center;
  padding: auto;
  height: 450px;
  overflow-x: hidden;
  z-index: 18;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  opacity: 1;
  border-radius: 10px;
  position: fixed;
  bottom: -10px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  max-width: 99%;
  max-height: 80%;


}

.starthei{
    animation: hei 0.5s forwards;
}

.modalw:target {

  display: block;
  pointer-events: auto;
  overflow-y: auto;
  opacity: 1;
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
  margin-right: 3px;
  margin-top: 2px;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.ok{
    font-size: 40px;
}
