@keyframes ani {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes mess {
    0% {
        opacity: 0
    }

    10% {
        opacity: 1
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

body,
html {
    color: #fff;
    font-family: Tahoma;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    justify-content: center;
    min-height: 80vh;
    background-color: #3d3d3d;
}

.container {
    margin-top: 1.7vw;
    max-width: 88vw;
}

button,
input {
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 7px;
}

table,
tbody,
th,
thead {
    color: #fff;
    max-width: 90vw;
    overflow-y: show;
}

small {
    color: silver;
}


h1,
h2,
h3 {
    font-family: "Tahoma", serif;
}

h1,
h2 {
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    margin-top: 40px;
}

h2:first-of-type {
    margin-top: 20px
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #fff
}

caption {
    color: silver;
}

a:hover {
    color: silver
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #3d3d3d;
}

::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 25px;
}

td {
    margin-top: 5px;
}

#sidebar {
    display: none;
    overflow-x: hidden;
}

.bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    /* background-image: url('/static/3.webp'); */
    background-color: #212121;
    transform: translateZ(0);
    z-index: 0;
}

.nav-link {
    justify-content: center;
    text-align: center;
    margin-left: .2vw;
    margin-right: .2vw;
    color: silver;
    font-size: 16px
}

.nav-link:hover {
    color: #fff
}

.nav-link:focus {
    color: #fff
}

.small-button {
    width: 45px;
    margin-left: 5px;
    float: none;
    height: 30px;
}

.logochart {
    width: 64px;
}

.small-button>i {
    margin: 0;
}

.logoside {
    width: 256px;
    border-radius: 45px;
}

.tgside {
    width: 160px;
    border-radius: 45px;
    float: right;
    clear: both;
}

.selectedBlock {

    padding: 35px;
}

.oar-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 70px;
    background-color: #212121;
    border-top: solid 1px rgba(0, 0, 0, .3);
    height: 60px;
    font-size: 5px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;
    background-size: 400% 400%;
    border-radius: 0px;
}


.upperblock {
    padding: 25px;
    height: auto;
    background-color: #212121;
    border-top: solid 1px rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;
    margin: 1vw;
}

.bottomblock {

    margin: 1vw;
    height: auto;
    padding: 25px;
    background-color: #212121;
    border-top: solid 1px rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;
}

.topGrid {
    height: 66vh;
}

.menublocks {

    padding: 20px;
    margin: 0.7vw;
    background-color: #212121;
    border-top: solid 1px rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;

    width: 150px;
    height: 150px;
}

.menublocks:hover {
    border: 1px solid white;
    cursor: pointer;
}

.bigico {
    font-size: 60px;
    margin: auto;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.menusmall {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

.menucontainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    transition: opacity 0.3s ease-out;
    opacity: 0;

}

.glass {
    background: rgba(0, 0, 0, 0.9);
    border: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: -10;

}

.menurow {
    margin: auto;
    width: 75%;
    max-width: 1250px;
}

.stat {
    font-size: 24px;
    float: right;
    clear: both;
    margin-right: 2vw;
}

.oinav {
    margin-top: 2px;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 5px 7px;
    cursor: pointer;
    font-size: 24px
}

#myGrid {
    scrollbar-color: grey #2D2D2D;

}

.author {
    height: 128px;
    width: 15vw;
    min-width: 270px;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #212121;
    border-top: solid 1px rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;
}

.searchinput {

    background-color: #212121;
    border: none;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;
    padding: 4px;
    padding-left: 15px;
    width: 20vw;
    min-width: 170px;
    color: white;
}

#content:not(img) {
    opacity: 0;
    padding: 10px;
    padding-top: 0px;
    overflow-x: hidden;
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;
    padding-bottom: 100px;

}

@media all and (max-width:995px) {

    .upperblock {
        height: auto;
        background-color: #212121;
        border-top: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        margin: 1px;
    }

    .container {
        max-width: 100%;
    }

    .textblock {
        width: 100%;
        max-width: 720px;
        padding: 1vw;
        margin: auto;
        background-color: #212121;
        border-top: solid 1px rgba(0, 0, 0, .3);
        border-radius: 45px;
        box-shadow: rgba(0, 0, 0, .40) 0px 5px 10px;
    }

    .author {
        border: none;
        border-bottom: 1px solid #202020;
        width: 100%;
    }

    .shortdata {
        display: none;
    }

    .bottomblock {

        width: 100%;
    }

    .topGrid {
        height: 62vh;
        margin-bottom: 20px;
    }

    .stat {
        font-size: 12px;
        text-align: right;
        width: 100%;

    }

    #infoblock {
        display: none;
    }

    #buttonsblock {
        width: 100%;
    }

    .menurow {

        margin: auto;
        margin-bottom: 100px;
        margin-top: 0px;

    }

    .menublocks {
        width: 38vmin;
        height: 38vmin;
        max-width: 150px;
        max-height: 150px;
        margin: auto;
        margin-bottom: 1vmax;
    }

}

@media all and (max-width:479px) {
    .nav-link {
        font-size: 10px
    }

    .oar-navbar {
        height: 55px
    }
}

.navico {
    width: 64px;
    height: 64px;
    display: none
}

@media all and (max-width:320px) {
    .nav-link {
        font-size: 9px
    }

    .oar-navbar {
        height: 50px
    }
}


@media all and (min-width:1330px) and (min-height:400px) {
    .oar-navbar {
        position: fixed;
        top: 25px;
        left: 60px;
        width: 80px;
        border-top: solid 1px rgba(0, 0, 0, .3);
        height: 95%;
        font-size: 5px;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, .48) 0 2px 7px;
        background-color: #212121;
        border-radius: 45px;

    }

    .nav {
        display: inline;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
    }

    .nav-link {
        justify-content: center;
        text-align: center;
        color: gray;
        font-size: 12px
    }

    .navico {

        display: inline;
        margin-left: 9px;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    #content:not(img) {
        padding-left: 140px;

    }

}